<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      <h1>Your guide to <b>football parlance</b></h1>
      <h2>Bluffr</h2>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- headerwrap -->

<div class="container instruction">
  <div class="row text-center">
    <div class="col-lg-12">
      <h3>How it works</h3>
      <hr>
    </div>
    <br><br>
    <div class="col-lg-4">
      <i class="fa fa-search"></i>
      <h4>FIND MATCH</h4>
      <p>Navigate to latest EPL matches on Bluffr.</p>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-laptop"></i>
      <h4>BLUFF</h4>
      <p>Create Bluffs and vote.</p>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-futbol-o"></i>
      <h4>USE</h4>
      <p>Use the bluffs in real life to talk to your mailman, boss, etc.</p>
    </div><!-- col-lg-4 -->
  </div><!-- row -->
</div>

  <!-- FEATURE SECTION -->
  <div class="lg">
    <div class="container">
      <div class="row">
        <br><br>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h4>DID YOU SEE THAT LUDICROUS DISPLAY LAST NIGHT?</h4>

          <iframe id="youtube_embed" width="580" height="345" src="//www.youtube.com/embed/6yN2H3--1aw" frameborder="0" allowfullscreen></iframe>

        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div>