<%= div_for bluff do %>
  <p>Did you see that ludicrous display last night?</p>

  <p><%= bluff.statement_1 %></p>

  <p><%= bluff.statement_2 %></p>

  <p>Yeah it is true. See you later, mate.</p>

  <p>Mind 'ow you go.</p>
<% end %>