<div class="row">
  <div class="col-md-4">
    <h2><%= @user.username %></h2>
    <p>Joined on <%= @user.joined_date %></p>
    <p>Bluffs created: <%= @user.bluff_count %></p>
    <p>Liked Bluffs: <%= @user.like_count %> </p>
  </div>

  <div class="col-md-8">

  </div>
</div>