// Devise

.sessions, .registrations { 

	.form-actions { 
		margin-top: 40px;
		margin-bottom: 30px;
	}

	.checkbox input[type="checkbox"] { 
		margin-left: 0;
	}

	.login { 
		margin-bottom: 31px;
	}

}