.home-team, .away-team { 
	display: inline-block;
	min-width: 150px;
	text-align: center;
}

.score-win { 
	color: #3B982D;
}

.score-lose { 
	color: #D42C2C;
}

.score-draw { 
	color: #3B982D;
}

.match { 
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #D7D7D7;

	&:last-child { 
		border-bottom: none;
	}
}






i.fa { 
	color: #43AC6A;
	font-size: 30px;
	padding: 5px;
}

#headerwrap {
	background: image-url('header-bg.jpg') no-repeat center top;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/* Footer Wrap */
#f {
	background: #2d2d2d;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
	text-align: center;
}