<% flash.each do |key, value| %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-dismissable alert-<%= key %> text-center">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= value %>
        </div>
      </div>
    </div>
  </div>
<% end %>