  <!-- FOOTER -->
  <div id="f">
    <div class="container">
      <div class="row centered">
        &copy; Bluffr <%= Time.now.year %>
    
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- Footer -->